# Jinx
.jinx/

# Environment
.env*
!**/.env.example
!**/.env.test.example

# Virtual environment
.venv/

# Embeddings
emb/

# Log
log/

# Byte-compiled / optimized / DLL files
__pycache__/